.body{
    position: relative;
    background-image: url(./Styles/2.jpg);
    background-attachment: fixed;
    background-position: center;
    border: none;
}

.button1 {
    position: relative;
    border: none;
    text-shadow: 0px 0px 20px black;
    width:200px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}


.search {
    position: relative;
    margin-top: 10px;
    margin-left: 1px;
    right: 1px;
    font-weight: 600;
    font-size: 20px;


}

.filter {
    position: relative;
    margin-top: 10px;
    margin-left: 1px;
    right: 1px;
    font-weight: 600;
    font-size: 20px;
}

.father {
    text-align: center; 
}

.child {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}



