.search1 {
    border: none;
    text-shadow: 0px 0px 20px black;
    align-items: center;
    margin-right: 2000px;
    width:200px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.filt {
    position: relative;
    left: 10vw;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1vh;
    width: 13vw;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-style: trebuchet;
    font-weight: 600;
    font-size: 1rem;
}