.aboutback{
        position: relative;
        background-image: url(./4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}

.about {
        position: relative;
        border: none;
        text-shadow: 50px 80px 1000px black;
        align-items: center;
        width:300px;
        font-size: 30px;
        background-color: transparent;
        cursor: pointer;
}

.tittle{
        font-family: Arial;
        text-shadow: 0px 0px 3px black;
        font-size: 120px;
        color: white;
        text-align: center;
}

.text {
        color: rgb(0, 0, 0);
        font-family: Arial;
        font-size: 30px;    
        margin-bottom: 70px; 

}